---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import BentoGrid from '../components/BentoGrid.astro';
import LabSection from '../components/LabSection.astro';
import MediaSection from '../components/MediaSection.astro';
import SocialSection from '../components/SocialSection.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
---

<Layout title="Altaskur | Portfolio 2026">
	<main class="">
		<Hero />
        <BentoGrid />
        <LabSection />
        <MediaSection />
        <SocialSection />
        <ScrollToTop />
	</main>
</Layout>

